* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px solid black; */

}

a{
    color: darkgreen;
    text-decoration: none;
}

div, .logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px;
    margin-left: 5px;

}

.header{
    width: 100%;
    height: 60px; 
    color: black;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 4px solid black;
}

.logo{
    padding-left: 20px;
    height: 30px;
}

.desktop-menu{
    justify-content: end;
}
.menu{
    padding-right: 20px;
    gap: 20px;
    font-weight: 600;
    /* justify-content: space-between; */
}

.menu>a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    letter-spacing: .11em;
    padding: 0px 10px;
}

.menu>a:hover{
    text-decoration: underline;
}

.desktop{
    padding-right: 20px;
    justify-content: end;
}

.cover{
    height:50dvh;
    margin-top: 45px;
    background-image: url("/images/labase1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    flex-direction: column;
    position: relative;
    color: white;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.eslogan{
    padding-bottom: 20px;
    text-align: center;
}

.eslogan, .subtitol{
    z-index: 3;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.eslogan{
    font-size: xx-large;
}
.subtitol{
    font-size: x-large;
}

.link-wrap{
    justify-content: start;
    align-items: start;
}

.link{
    color: black;
    background-color: white;
    font-size: small;
    padding: 20px 20px 5px 0px;
    font-weight: 400;
}

.link:after{
    content: " ⧉";
}


.footer{
    height: 200px;
    border-top: 1px solid black;
    margin-top: 200px;
}

.intro, .outro{
    margin: auto;
    max-width: 1000px;
    flex-direction: column;
    align-items: start;
}

.intro>p, .outro>p{
    padding: 10px 0px;
}

.card-wrap{
    max-width: 1000px;
    margin: auto;
    align-items: start;
    gap:30px;

}
.card{
    width: 50%;
    flex-direction: column;
    align-items: start;
}

h3{     /*titol card imatges*/
    width: 100%;
    font-family: "Roboto", sans-serif;
    letter-spacing: .05em;
}

.card>img{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    font-size: medium;
}

.titol, .titol-index{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .05em;
    font-size: x-large;
    font-weight: 600;
    padding: 120px 0px 75px 0px;
    text-transform: uppercase;
}

.titol-index{
    padding: 50px 0 20px 0;
}

.contacte{
    max-width: 1000px;
    margin: auto;
}
.contacte>ul{
    max-width: 1000px;
    margin: auto;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 200px;
}

@media (max-width: 1090px) {
    .header{
        height: 50px; 
        border-bottom: 3px solid black;
    }
    .logo{
        padding-left: 10px;
        height: 22px;
    }
    .menu{
        padding-right: 10px;
        padding-top: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    select{
        font-size: x-small;
    }

    .menu>a{
        font-size: x-small;
        padding: 0px 5px;
    }
    .eslogan{
        font-size: x-large;
    }
    .subtitol{
        font-size: large;
    }
    .card-wrap{
        margin-top: 50px;
        flex-direction: column;
    }
    .card{
        width: 100%;
    }

    .titol{
        font-size: large;
        font-weight: 600;
        padding: 120px 0px 10px 0px;
    }
    .titol-index{
        font-size: large;
        font-weight: 600;
        padding: 40px 0px 20px 0px;
    }

    .intro, .card-wrap, .outro{
        padding: 0px 7px;
    }

    .outro{
        padding-top: 30px;
    }

    .desktop{
        display: none;
    }

    .language{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

.hidden{
    display: none;
}