* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    color: darkgreen;
    text-decoration: none;
}

.header{
    height: 70px; 
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    display: flex;
    padding-left: 20px;
    font-weight: 600;
    font-size: xx-large;
}
.menu{
    display: flex;
    padding-right: 20px;
    gap: 20px;
    font-weight: 600;
    font-size: large;
}

.menu>a, .logo{
    color:black;
    text-decoration: none;
}
.menu>a:hover{
    text-decoration: underline;
}

.cover{
    height:50dvh ;
    background-image: url("labase1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slogan{
    padding-bottom: 20px;
}

.slogan, .subtitol{
    z-index: 3;
    margin-left: 20px;
    margin-right: 20px;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

.intro{
    display: flex;
    justify-content: center;
    padding: 75px;
    max-width: 1000px;
    margin: auto;
}

.cards{
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    margin-bottom: 250px;
    width: 400px;
}

.card>img{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}