.translate-animation{
    animation-name: translate;
    animation-duration: 2.5s;
}

@keyframes translate{
    0%{
        /* transform: translateY(100%); */
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    to{
        /* transform: translateY(0); */
        opacity: 1;
    }
}