.link-wrap, .btn-wrap{
    width: 100%;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}
.link{
    border-left: 1px solid;
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 400;
}
.link:after{
    content: " ⧉";
}
.link:hover{
    text-decoration: underline;
    text-underline-offset: .4em;
}
.btn{
    margin-top: 20px;
    /* color: var(--text-color-0); */
    border: 1px solid;/* var(--text-color-0);*/
    border-radius: 99px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 800;
}
.btn:hover{
    color: var(--background-color-0);
    background-color: var(--text-color-0);    
}
.btn--black{
    text-transform: none;
}
.btn--black:hover{
    color: var(--background-color-0);
    border-color: var(--text-color-2);
    background-color: var(--text-color-2);    
}
.btn--color-1{
    color: var(--text-color-1);
    border-color: var(--text-color-1);
}
.btn--color-1:hover{
    background-color: var(--text-color-1);
}
.btn--bg-1:hover{
    color: var(--background-color-1);
}
.btn--bg-4:hover{
    color: var(--background-color-4);
}
.btn--bg-5:hover{
    color: var(--background-color-5);
}
.btn--bg-6:hover{
    color: var(--background-color-6);
}
.btn--bg-7:hover{
    color: var(--background-color-7);
}


@media (max-width: 1090px){
    .btn-wrap{
        justify-content: center;    
        }
    .btn{
        margin: 0;
        padding: 12px 24px;
    }
}