.column-wrap {
  align-items: start;
  width: 100%;
  gap: 50px;
}
.column {
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.column--horizontal {
  flex-direction: row;
}
.column--full-width {
  width: 100%;
}
.column--narrow {
  max-width: 500px;
  margin: auto 0px;
  margin-right: auto;
  padding: 40px var(--margin-side-mobile);
}
#logo-leave {
  fill: var(--text-color-0);
}
.column__title {
  width: 100%;
  font-size: medium;
  font-family: var(--font-title);
  letter-spacing: 0.05em;
  font-weight: 600;
}
.column__img {
  width: 100%;
}
.column__text {
  font-size: medium;
}
@media (max-width: 768px) {
  .column-wrap {
    flex-direction: column;
  }
  .column {
    width: 100%;
    gap: 15px;
  }
  .column > h2 {
    font-size: large;
  }
  .column--narrow {
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
  }
  #logo-leave {
    margin-top: -100px;
    margin-bottom: -220px;
  }
}
