/*HEADER*/
.header {
  width: 100%;
  height: var(--header-height-desktop);
  color: var(--text-color-0);
  background-color: var(--background-color-0);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#header-hide {
  transition: top 0.3s;
}
.logo__wrap {
  /* width: 150px; */
  justify-content: start;
  padding-left: 20px;
}
.logo {
  fill: var(--text-color-0);
  width: 60px;
  height: 60px;
}

.menu__wrap {
  width: 100%;
  justify-content: end;
  padding-right: 20px;
  /* border: 4px solid red; */
}
.icon-wrap {
  display: none;
}
.dropdown__wrap {
  width: 100%;
}
.menu {
  gap: 1em;
  font-weight: 600;
  margin: auto;
}
.menu__category,
.sub-menu__category {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: calc(6px + 8 * (100vw - 500px) / 1500);
  letter-spacing: 0.11em;
  padding: 0px 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.sub-menu {
  position: relative;
}
.sub-menu__title {
  border: none;
  background: none;
  height: var(--header-height-desktop); /*important that the sub-menu__title is touching the sub-menu__content*/
}
.sub-menu__category {
  font-weight: 500;
}
/* .sub-menu__title::after{
    content: "\2002 \2B";
} */
.sub-menu__content {
  display: flex;
  position: absolute;
  background-color: var(--background-color-0);
  align-items: start;
  top: var(--header-height-desktop);
  left: 0;
  flex-direction: column;
  gap: 20px;
  padding: 30px var(--margin-side-mobile);
  width: 14vw;
}
.sub-menu__category {
  height: auto;
  width: 100%;
}
/* .sub-menu[open] .sub-menu__title::after {
  content: "\2002 \2212";
} */

.menu--small {
  margin: 0;
}
.menu--small__category {
  font-size: calc(6px + 8 * (100vw - 500px) / 1500);
  font-family: var(--font-title);
  text-transform: capitalize;
  font-weight: 400;
}
.menu__category:hover,
.sub-menu__category:hover,
.menu--small__category:hover {
  text-decoration: underline;
  text-underline-offset: 0.7em;
}
.active-page {
  text-decoration: underline !important;
  text-underline-offset: 0.7em;
}
.options {
  padding-left: 2%;
}
.language > a {
  font-size: small;
  padding: 0px 5px;
}
.selected-lang {
  font-weight: 700;
}
.light-btn {
  margin-left: 15px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/*FOOTER*/
footer {
  /* margin-top: 400px; */
  padding: 200px 20px 0px 20px;
  /* background-color: var(--background-color-6); */
  /* border-top: 50px solid var(--text-color-0); */
  /* color: var(--text-color-1); */
}

.legal-links {
  gap: 40px;
  padding: 20px 0px;
  margin-top: 50px;
  border-top: 1px solid var(--text-color-0);
}
.legal-links > a {
  font-family: var(--font-title);
  font-size: smaller;
  /* color: var(--text-color-0); */
}
.legal-links > a:hover {
  text-decoration: underline;
}
#menu-icon {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* Hide arrow glyph in Safari */
summary::-webkit-details-marker {
  display: none;
}

/*reduce font size to fit content on screen*/
@media (max-width: 1200px) {
  .menu {
    gap: 5px;
    font-weight: 600;
  }
  .menu__category,
  .menu--small__category {
    font-size: 11px;
    letter-spacing: 0.11em;
    padding: 0px 10px;
    font-weight: 700;
  }

  .language > a {
    font-size: 11px;
    padding: 0px 5px;
  }
}

@media (max-width: 1000px) {
  .header {
    height: var(--header-height-mobile);
    /* position: relative; */
    /* border-bottom: 2px solid var(--text-color); */
  }
  .logo {
    /* padding-left: -10px; */
    /* fill: var(--text-color); */
    width: 45px;
    height: 45px;
  }
  .icon-wrap {
    display: flex;
    position: fixed;
    height: var(--header-height-mobile);
    top: 0;
    right: 0;
    padding-left: 40px;
    padding-right: 20px;
  }
  #icon-wrap {
    transition: top 1s;
  }
  /* .menu,
  .menu--small,
  .options {
    display: none;
    padding: 0px;
    position: absolute;
  }
  .menu__wrap:hover .menu,
  .menu__wrap:hover .menu--small,
  .menu__wrap:hover .options {
    display: flex;
  } */
  .menu__wrap {
    position: fixed;
    top: var(--header-height-mobile);
    flex-direction: column;
    background-color: var(--background-color-0);
    padding-right: 0;
    /* padding: 20px var(--margin-side-mobile); */
    /* border-bottom: 4px solid var(--text-color-0); */
    /* display: none; */
  }
  .dropdown__wrap {
    padding: 20px var(--margin-side-mobile);
    border-bottom: 4px solid var(--text-color-0);
    flex-direction: column;
    width: 100%;
    display: none;
    align-items: start;
  }
  .display {
    display: flex;
  }
  .circle {
    fill: var(--background-color-0);
  }
  .tree {
    fill: var(--text-color-0);
  }
  /*#00160b dark green forest MTG
    #9bd3ae light green forest MTG*/
  .menu__wrap:hover .circle {
    fill: #9bd3ae;
  }
  .menu__wrap:hover .tree {
    fill: #00160b;
  }
  .menu {
    padding: 20px 0px;
    gap: 15px;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color-0);
    width: 100%;
  }
  .menu__category {
    font-size: small;
    padding: 0px;
    width: 100%;
  }
  .sub-menu {
    width: 100%;
    flex-direction: column;
  }
  .sub-menu__title {
    text-align: start;
    height: auto;
  }
  .sub-menu__content {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
  }
  .sub-menu__category {
    font-size: small;
    padding: 0px;
    width: 100%;
    /* font-weight: 500; */
  }
  .menu--small {
    font-size: small;
    width: 100%;
    padding: 20px 0px;
  }
  .menu--small__category {
    width: 100%;
    padding: 0px;
  }
  .options {
    padding-left: 0;
  }
  .language {
    /* display: inline-block; */
    padding: 20px 0px;
    gap: 15px;
  }
  .language > a {
    padding: 0px;
  }
  #light-btn2 {
    /* display: inline-block; */
    margin-left: 15px;
  }
}
