* {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    letter-spacing: .03em;
    color: var(--text-color);
    /* background-color: var(--background-color); */
    border: 1px solid black;
}
:root{
    --accent-background-color:rgba(0, 39, 0, 0.048);
    /*#00160b dark green forest MTG
      #9bd3ae light green forest MTG*/
    --accent-color: #00160b; /*rgb(0, 43, 0);*/
    --accent-color-2: rgb(0, 110, 110);
    /* --text-color:rgb(29,62,151); És el color blau de La Fageda */
    --text-color: #11887b;
    --background-color: white;
    --margin-side-desktop: 10px;
    --margin-side-mobile: 7px;
    --content-width: 1200px;
    --font-title: "Noto Serif", serif;
}
.night-mode{
    --accent-background-color:rgb(0, 5, 0);
    --accent-color: rgb(250, 255, 250);
    --accent-color-2: rgb(0, 125, 197);
    --text-color: rgb(200, 204, 208);
    --background-color: rgb(12,13,14);
}
body{
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    transition: 200ms;
}
div, .logo-wrap, section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin: 100px auto;
    /* max-width: var(--content-width); */
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.language>a{
    font-size: small;
    padding: 0px 5px;
}
.selected-lang{
    font-weight: 700;
}
.header{
    width: 100%;
    height: 70px; 
    color: var(--text-color);
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* border-bottom: 2px solid;
    border-color:  var(--text-color); */
}
.logo{
    padding-left: 20px;
    fill: var(--text-color);
    margin-top: -33px;
    width: 60px;
    height: 60px;
}
.desktop{
    justify-content: end;
    padding-right: 20px;
}
.menu{
    padding-right: 20px;
    gap: 20px;
    font-weight: 600;
}
.menu>a{
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    /* font-family: var(--font-title); */
    letter-spacing: .11em;
    padding: 0px 10px;
    font-weight: 700;
}
.menu>a:hover{
    text-decoration: underline;
}
.language>a{
    color: var(--text-color);
    /* font-family: var(--font-title); */
}
.light-btn{
    margin-left: 15px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
details{
    display: none;
}
main{
    margin-top: 100px;
}
.section--hero{
    height:70dvh;
    margin-top: -55px;
    margin-bottom: 30px;
    background-image: url("/images/labase1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    flex-direction: column;
    align-items: start;
    position: relative;
    color: white;
    min-width: 100%;
    gap:30px;
}
.section__title{
    margin: auto;
    font-family: var(--font-title);
    letter-spacing: .05em;
    font-size: xx-large;
    font-weight: 900;
    /* text-transform: capitalize; */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.title, .subtitle{
    margin: 0 10%;
    max-width: 700px;
    z-index: 3;
    color: white;
    font-family: var(--font-title);
    letter-spacing: .06em;
}
.title{
    font-size: xxx-large;
    font-weight: 800;
}
.subtitle{
    font-size: xx-large;
    font-weight: 300;
}
.link-wrap, .btn-wrap{
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}
.link{
    color: var(--text-color);
    /* background-color: var(--accent-background-color); */
    border-left: 1px solid var(--text-color);
    /* border-radius: 50px; */
    padding: 7px 15px;
    /* font-family: var(--font-title); */
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 400;
}
.link:after{
    content: " ⧉";
}
.btn{
    margin-top: 20px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 99px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 800;
}
.btn:hover{
    color: var(--background-color);
    background-color: var(--text-color);    
}
.column-wrap{
    gap:20px;
}
.column{
    width: 50%;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
.column__title{
    width: 100%;
    font-size: medium;
    font-family: var(--font-title);
    letter-spacing: .05em;
    font-weight: 600;
}
.column>img{
    width: 100%;
}
.column>p{
    font-size: medium;
}
.contact-data{
    font-size: x-large;
    font-weight: 500;
}
.img-wrap{
    background-image: url("/images/reciclat.jpg");
    width: 100vw;
    max-width: 100vw;
}
.img{
    width: var(--content-width);
}
.no-gap{
    padding: 0px;
    gap: 0px;
}
.content-width{
    width: var(--content-width);
    margin: auto;
}
.white{
    color: white;
}

/* TESTING MEDIA WITH GRID*/
.media{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "image cont"
        "image footer";
    background-color: var(--text-color);
}
.media--reversed{
    grid-template-areas: 
        "cont image"
        "footer image";
}
.media--base{
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image cont";
    background-image: url("/images/reciclat.jpg");
}
.media__title{
    font-family: var(--font-title);
}
.media__img{
    grid-area: image;
    /* aspect-ratio: 16/9; */
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.media__content{
    padding: 20px 100px;
    flex-direction: column;
    grid-area: cont;
    gap: 20px;
    align-items: start;
}
.media__footer{
    grid-area: footer;
}
.legal{
    max-width: var(--content-width);
    padding-top: 100px;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-self: center;
}
.legal>h3{
    padding-top: 20px;
}
footer{
    margin-top: 200px;
    background-color: var(--accent-background-color);
    border-top: 1px solid var(--accent-color);
    padding: 70px 20px 30px 20px;
}
.footer>p{
    color: var(--accent-color);
}
.legal-links{
    gap: 40px;
    padding-top: 40px;
}
.legal-links>a{
    font-family: var(--font-title);
    font-size: smaller;
    color: var(--accent-color);
}
.legal-links>a:hover{
    text-decoration: underline;
}

@media (max-width: 1090px){
    /* *{
        padding: 0px;
        margin: 0px;
    } */
    section{
        padding: 25px 0px;
        gap:20px;
        max-width: 100vw;
    }
    .header{
        height: 45px; 
        /* border-bottom: 2px solid var(--text-color); */
    }
    .logo{
        padding-left: 20px;
        fill: var(--text-color);
        margin-top: -25px;
        width: 45px;
        height: 45px;
    }
    .desktop{
        display: none;
    }
    details{
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    summary {
        list-style: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    } 
    /* Hide arrow glyph in Safari */
    summary::-webkit-details-marker {
        display: none;
    }
    .circle{
        fill: var(--background-color);
    }
    .tree{
        fill: var(--text-color);
    }
    .content-width{
        width: auto;
        max-width: 100%;
        padding: 0px var(--margin-side-mobile);
    }
    /*#00160b dark green forest MTG
    #9bd3ae light green forest MTG*/
    details[open] .circle{
        fill: #9bd3ae;
    }
    details[open] .tree{
        fill: #00160b;
    }
    .dropdown-content{
        position: fixed;
        top: 47px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-bottom: 1px solid var(--text-color);
        background-color: var(--background-color);
    }
    .menu{
        padding: 10px 0px;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
    .menu>a{
        font-size: small;
        padding: 0px var(--margin-side-mobile);
        width: 100vw;
    }
    .language{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 8px var(--margin-side-mobile);
        gap: 15px;
    }
    .language>a{
        padding: 0px;
        color: var(--text-color);
    }
    #light-btn2{
        margin-left: 15px;
    }
    main{
        margin-top: 70px;
    }
    .hero{
        min-width: 100%;
        margin-bottom: 20px;
    }
    .eslogan{
        font-size: x-large;
    }
    .subtitol{
        font-size: large;
    }
    .column-wrap{
        flex-direction: column;
        gap: 40px;
    }
    .column{
        width: 100%;
    }
    .column>h2{
        font-size: large;
    }
    .title{
        font-size: xx-large;
        font-weight: 600;
    }
    .legal-links>a{
        font-size: x-small;
    }
    .media{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "image"
            "cont"
            "footer";
        background-color: var(--text-color);
        padding-bottom: 30px;
    }
    .media--reversed{
        grid-template-areas: 
            "image"
            "cont"
            "footer";
    }
    .media__content{
        padding: 20px 10px;
        flex-direction: column;
        grid-area: cont;
        gap: 20px;
        align-items: start;
    }
    /* .btn-wrap{
        align-items: center;
    } */
}
.hidden{
    display: none;
}